<template>
  <div class="sweeties">
    <div class="container">
      <div class="sweeties__inner">
        <div class="sweeties__col">
          <SweetiesInfo :info-title="info.title" :info-description="info.description" :subscribe-title="info.subscribeTitle"/>
        </div>
        <div class="sweeties__col">
          <div class="sweeties-tabs">
            <ListTabs/>
          </div>
          <div class="sweeties-articles">
            <ListArticles v-for="article in articlesList.articles" :key="article.id" :title-article="article.title" :text-article="article.text" :link-article="article.link" :tag="article.tag"/>
          </div>
          <div class="sweeties-all">
            <BtnWide/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src


import ListTabs from '@/components/ListTabs.vue'
import ListArticles from '@/components/ListArticles.vue'
import BtnWide from '@/components/BtnWide.vue'
import SweetiesInfo from '@/components/SweetiesInfo.vue'

export default {
  data () {
    return {
      info:{
        title: 'Цукерочки',
        description: 'Дуже багато нових рішень та крутих фіч які економлять час та покращуюсь вашу роботу в десятки разів. Ласкаво просимо до ознайомлення. Немає часу на перегляд всього? Підпишись та отримуй найцікавіше в одному листі раз на тиждень.',
        subscribeTitle: 'Отримуйте першим нові цукерочки'
      },
      articlesList:{
        articles: [
          {
            title: "Moeditor",
            text: 'CSS фреймворк та директива від GitHub',
            link: '#',
            tag: '#javascript'
          },
          {
            title: 'waitMe',
            text: 'CSS фреймворк та директива від GitHub',
            link: '#',
            tag: '#javascript'
          },
          {
            title: 'Primer',
            text: 'CSS фреймворк та директива від GitHub',
            link: '#',
            tag: '#javascript'
          },
          {
            title: 'Django spurl',
            text: 'CSS фреймворк та директива від GitHub',
            link: '#',
            tag: '#javascript'
          }
        ]
      }
    }
  },
  name: 'sweeties',
  components: {
    ListTabs,
    ListArticles,
    BtnWide,
    SweetiesInfo
  }
}
</script>
<style lang="sass">

@import '../assets/sass/helpers'

.container
  width: 970px
  margin: 0 auto
  +r(1020)
    width: 100%
    padding: 0px 50px
.sweeties
  &__inner
    display: flex
    margin: 0px -15px
    padding: 96px 0px
    +m
      display: block
      padding: 81px 0px
      margin: 0
  &__col
    flex: 1
    margin: 0px 15px
    +m
      margin: 0
      &:first-child
        margin-bottom: 50px
        +xs
          margin-bottom: 30px
  &-articles
    margin-bottom: 50px
  &-tabs
    margin-bottom: 7px
    margin-top: 21px
    max-width: 500px
    +m
      max-width: 100%
    +xs
      display: none
  &-all
    max-width: 470px
    +m
      margin: 0 auto
</style>