<template>
    <div class="article">
        <div class="article__col">
            <div class="article__tag">
                <Tag :tag="tag"/>
            </div>
            <a :href="linkArticle" class="article__title">
                {{titleArticle}}
            </a>
            <p class="article__description">
                {{textArticle}}
            </p>
        </div>
        <div class="article__col">
            <div class="article__menu">
                <MenuDots/>
            </div>
            <div class="article__btn">
                <BtnLink :href="linkArticle"/>
            </div>
        </div>
    </div>
</template>

<script>

import Tag from '@/components/Tag.vue'
import BtnLink from '@/components/BtnLink.vue'
import MenuDots from '@/components/MenuDots.vue'

export default {
    name: 'Article',
    props: ["titleArticle","textArticle","linkArticle","tag"],
    components: {
        BtnLink,
        MenuDots,
        Tag
    }
}
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'

.article
    display: flex
    align-items: flex-end
    justify-content: space-between
    border-top: $border
    padding: 17px 20px
    &:last-child
        border-bottom: $border
    +xs
        padding: 20px 0px
        display: block
        text-align: center
        position: relative
        &:first-child
            border-top: none
    &__col
        &:first-child
            margin-right: 20px
            +xs
                margin-right: 0px
    &__title
        +h2
        text-decoration: none
        margin-bottom: 18px
        display: block
        &:hover
            color: $violet
    &__description
        +p
        font-size: 14px
        line-height: 21px
        +xs
            margin-bottom: 20px
    &__tag
        margin-bottom: 5px
    &__menu
        display: flex
        justify-content: flex-end
        margin-bottom: 15px
        +xs
            position: absolute
            right: 0
            top: 20px
</style>
