<template>
    <a :href="btnLink" class="btn-link">
        Link
    </a>
</template>

<script>


export default {
    data () {
        return {
        }
    },
    name: 'BtnLink',
    props: ["btnLink"]

}
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'

.btn-link
    padding: 7px 24px
    border-radius: $btnBorderRadius
    border: $borderBtn
    display: inline-flex
    justify-content: center
    align-items: center
    text-decoration: none
    color: $titleColor
    text-transform: uppercase
    letter-spacing: 0.1em
    font-size: 10px
    font-family: $gilroyMd
    &:hover
        border-color: $green
        color: $green
    &.disable
        color: #E2EAF0
        cursor: default
        border-color: initial
</style>
