<template>
    <a href="#" class="wide-btn">
        Всі 309 цукерочок
    </a>
</template>

<script>


export default {
    data () {
        return {
        }
    },
    name: 'BtnWide'
}
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'
.wide-btn
    background: $violet
    border-radius: $btnBorderRadius
    text-decoration: none
    color: #fff
    font-size: 14px
    font-family: $gilroyMd
    height: 44px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 0px 20px
    &:hover
        background: #AE2968
    &.disable
        background: #E2EAF0
</style>
