<template>
  <form class="email-input">
    <input class="email-input__input" type="email" placeholder="Ваш email">
    <p class="email-input__error-message">невірний формат</p>
    <button class="email-input__btn" type="submit">
      <svg class="email-input__btn_arrow" width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.98432 4.50001L1.00917 0.0175171L0.0153809 1.13814L2.99675 4.50001L0.0153809 7.86188L1.00917 8.9825L4.98432 4.50001Z" fill="#313335"/>
      </svg>
      <svg class="email-input__btn_check" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.59 10.58L1.42 6.41L0 7.82L5.59 13.41L17.59 1.41L16.18 0L5.59 10.58Z" fill="white"/>
      </svg>
    </button>
  </form>
</template>

<script>
export default {
  name: 'EmailInput'
}
</script>


<style scoped lang="sass">
@import '../assets/sass/helpers'
.email-input
  position: relative
  max-width: 470px
  &.error
    .email-input__input
      background: rgba(218, 67, 83, 0.1)
      border: 2px solid rgba(218, 67, 83, 0.4)
      &::placeholder
        color: #DA4353
    .email-input__btn
      border-color: rgba(218, 67, 83, 0.4)
    .email-input__error-message
      display: block
  &.complete
    .email-input__input
      border: 2px solid $green
      background: #fff
    .email-input__btn
      background: $green
      border: none
      .email-input__btn_arrow
        display: none
      .email-input__btn_check
        display: inline-block
  +m
    margin: 0 auto
  &__input
    background: #F0F4F7
    border-radius: 30px
    height: 60px
    width: 100%
    padding: 0px 30px
    font-size: 14px
    color: #313335
    font-family: $robotoReg
    &::placeholder
      font-size: 14px
      color: #A8ADB2
      font-family: $robotoReg
    &:hover
      background: #E2EAF0
      cursor: pointer
    &:active, &:focus, &.active
      background: #fff
      border: $borderBtn
  &__btn
    width: 45px
    height: 45px
    border-radius: 50%
    background: #fff
    border: $borderBtn
    position: absolute
    right: 10px
    top: 8px
    &_check
      display: none
    &:hover
      border-color: $green
      path
        fill: $green
  &__error-message
    font-family: $robotoReg
    color: #DA4353
    font-size: 14px
    margin-left: 30px
    margin-top: 10px
    display: none
    
</style>
