<template>
  <div class="list-tabs">
    <a href="#" class="list-tabs__item active">
      <icon-base width="8" height="8" icon-name="menu"><icon-menu /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base width="14" height="14" icon-name="js"><icon-js /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base icon-name="linux"><icon-linux /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base width="16" height="16" icon-name="css"><icon-css /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base width="16" height="16" icon-name="html"><icon-html /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base icon-name="python"><icon-python /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base icon-name="ruby"><icon-ruby /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base width="20" height="11" icon-name="php"><icon-php /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base width="16" height="19" icon-name="android"><icon-android /></icon-base>
    </a>
    <a href="#" class="list-tabs__item">
      <icon-base icon-name="java"><icon-java /></icon-base>
    </a>
  </div>
</template>

<script>

import IconBase from '@/components/IconBase.vue'
import IconMenu from '@/components/icons/IconMenu.vue'
import IconJs from '@/components/icons/IconJs.vue'
import IconLinux from '@/components/icons/IconLinux.vue'
import IconCss from '@/components/icons/IconCss.vue'
import IconHtml from '@/components/icons/IconHtml.vue'
import IconPython from '@/components/icons/IconPython.vue'
import IconRuby from '@/components/icons/IconRuby.vue'
import IconPhp from '@/components/icons/IconPhp.vue'
import IconAndroid from '@/components/icons/IconAndroid.vue'
import IconJava from '@/components/icons/IconJava.vue'

export default {
  name: "ListTabs",
  components: {
    IconBase,
    IconMenu,
    IconJs,
    IconLinux,
    IconCss,
    IconHtml,
    IconPython,
    IconRuby,
    IconPhp,
    IconAndroid,
    IconJava
  }
};
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'
.list-tabs
  display: flex
  align-items: center
  flex-wrap: wrap
  +m
    justify-content: center
  &__item
    background: #F0F4F7
    border-radius: 50%
    width: 24px
    height: 24px
    display: flex 
    justify-content: center
    align-items: center
    margin-right: 20px
    border: 2px solid transparent
    box-sizing: content-box
    margin-bottom: 10px
    &:last-child
      margin-right: 0px
    &:active, &.active
      border: 2px solid $green
    &:hover
      background: #E2EAF0
</style>
