<template>
    <div class="articles-list">
        <Article :title-article="titleArticle" :text-article="textArticle" :link-article="linkArticle" :tag="tag"/>
    </div>
</template>

<script>
import Article from '@/components/Article.vue'

export default {
    name: 'ListArticles',
    props: ["titleArticle","textArticle","linkArticle","tag"],
    components: {
        Article
    }
}
</script>

<style scoped lang="sass">

</style>
