<template>
    <a href="#" class="menu-dots">
        <span></span> 
        <span></span>
        <span></span>
    </a>
</template>

<script>


export default {
    data () {
        return {
        }
    },
    name: 'MenuDots'

}
</script>

<style scoped lang="sass">
.menu-dots
    display: flex
    flex-direction: column
    span
        width: 4px
        height: 4px
        border-radius: 50%
        background: #6E7680
        margin-bottom: 2px
</style>
