<template>
  <div class="sweeties-info__wrap">
    <div class="sweeties-info">
      <div class="sweeties-info-title">
        <h1 class="sweeties-info-title__text">{{infoTitle}}</h1>
        <icon-base icon-name="sweety"><icon-sweety /></icon-base>
      </div>
      <p class="sweeties-info__description">{{infoDescription}}</p>
    </div>
    <div class="sweeties-subscribe">
      <div class="sweeties-subscribe-title">
        <h2 class="sweeties-subscribe-title__text">
          {{subscribeTitle}}
          <icon-base icon-name="fire"><icon-fire /></icon-base>
        </h2>
      </div>
      <EmailInput/>
    </div>
  </div>
</template>

<script>
import EmailInput from "@/components/EmailInput.vue";
import IconBase from '@/components/IconBase.vue'
import IconFire from '@/components/icons/IconFire.vue'
import IconSweety from '@/components/icons/IconSweety.vue'
export default {
  name: "SweetiesInfo",
  props: ["infoTitle","infoDescription","subscribeTitle"],
  components: {
    EmailInput,
    IconBase,
    IconFire,
    IconSweety
  }
};
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'
.sweeties
  &-info
    border-bottom: $border
    margin-bottom: 30px
    &-title
      display: flex
      align-items: center
      margin-bottom: 70px
      +m
        justify-content: center
      +xs
        display: block
        text-align: center
        margin-bottom: 30px
      &__text
        +h1
        margin-right: 15px
        +xs
          margin-right: 0px
          margin-bottom: 7px
      svg
        width: 30px
        height: 30px
    &__description
      font-size: 16px
      +p
      line-height: 24px
      margin-bottom: 40px
      +m
        text-align: center
      +xs
        display: none
  &-subscribe
    &-title
      margin-bottom: 20px
      &__text
        +h2
        margin-right: 15px
        +m
          text-align: center
          margin-right: 0px
        +xs
          text-align: center
      svg
        width: 18px
        height: 19px
        margin-left: 10px
        position: relative
        top: 3px
</style>
