<template>
    <a href="#" class="tag">
        {{tag}}
    </a>
</template>

<script>

export default {
    data () {
        return {
        }
    },
    name: 'Tag',
    props: ["tag"]
}
</script>

<style scoped lang="sass">
@import '../assets/sass/helpers'
.tag
    color: $violet
    font-size: 10px
    font-family: $gilroyMd
    text-transform: uppercase
    letter-spacing: 0.1em
    text-decoration: none
</style>
