<template>
    <g>
        <path d="M17.3575 5.65426C17.3568 5.66126 17.356 5.6686 17.3553 5.67592C17.3057 6.12078 17.1654 6.59944 16.9413 7.09609L16.9409 7.09644L13.0662 16.9561L2.68786 14.522C2.56038 14.497 2.4366 14.468 2.31685 14.435C2.07846 14.3703 1.85655 14.2913 1.65233 14.1984C1.65233 14.1984 1.65233 14.1984 1.65198 14.1984C1.02824 13.3179 0.558372 12.3205 0.282501 11.2457C0.313368 11.1167 0.362939 10.9176 0.428329 10.673C0.680329 9.72926 1.16999 8.11182 1.7585 7.26139L1.81581 9.22892L5.69351 9.48752L10.9499 6.98848L13.2189 3.65665L12.2139 2.04803C13.8905 2.45469 14.9529 2.82204 15.6218 3.11186C15.7327 3.15961 15.8326 3.20552 15.9226 3.24887C16.5945 3.57322 16.7235 3.77052 16.7235 3.77052C16.945 3.95713 17.111 4.17608 17.212 4.4266C17.359 4.79026 17.4049 5.205 17.3575 5.65426Z" fill="#9B0A0E"/>
        <path d="M12.5394 2.94532C11.8876 1.66157 9.01157 1.8128 6.11549 3.28308C3.21941 4.75337 1.40001 6.98595 2.05174 8.26969C2.70348 9.55344 5.57955 9.40221 8.47563 7.93193C11.3717 6.46164 13.1911 4.22906 12.5394 2.94532Z" fill="#EF0E13"/>
        <path d="M10.5884 12.9768L13.0661 16.9562L6.53928 14.3943C7.82782 14.1283 9.21143 13.6581 10.5884 12.9768Z" fill="#F5655E"/>
        <path d="M1.75852 7.26135L1.81596 9.2289L0.428345 10.6728C0.680521 9.72925 1.16997 8.11182 1.75852 7.26135Z" fill="#F5655E"/>
        <path d="M1.81574 9.22888L0.62444 12.3006C0.489616 11.9586 0.375007 11.6067 0.28244 11.2456C0.28244 11.2456 0.28244 11.2456 0.28244 11.2453C0.313659 11.1163 0.362878 10.9172 0.428268 10.673L1.81574 9.22888Z" fill="#950C10"/>
        <path d="M13.2191 3.65662L17.3553 5.67589C17.3056 6.12082 17.1654 6.59937 16.9411 7.09627L16.9408 7.09655C16.7731 7.46882 16.5579 7.85143 16.2988 8.23744L13.2191 3.65662Z" fill="#950C10"/>
        <path d="M16.9408 7.09662L13.0661 16.9562L14.0585 10.7028C14.9874 9.90803 15.7442 9.0647 16.2989 8.23747C16.558 7.85142 16.7731 7.46882 16.9408 7.09662Z" fill="#EF0E13"/>
        <path d="M13.2192 3.65662L16.2989 8.23744L10.95 6.98859L13.2192 3.65662Z" fill="#EF0E13"/>
        <path d="M15.6219 3.11169L13.2191 3.65658L12.2138 2.04779C13.8904 2.45479 14.9529 2.8219 15.6219 3.11169Z" fill="#F5655E"/>
        <path d="M10.95 6.98853L14.0585 10.7028C13.1235 11.503 12.0145 12.2541 10.7613 12.8904C10.7035 12.9197 10.6461 12.9484 10.5884 12.9769L10.95 6.98853Z" fill="#950C10"/>
        <path d="M10.95 6.98853L10.5884 12.9768L5.69363 9.48743L10.95 6.98853Z" fill="#EF0E13"/>
        <path d="M5.69363 9.48743L10.5884 12.9768C9.21137 13.6581 7.82776 14.1283 6.53921 14.3943L5.69363 9.48743Z" fill="#950C10"/>
        <path d="M5.69358 9.48739L2.31686 14.435L1.81592 9.22888L5.69358 9.48739Z" fill="#F5655E"/>
    </g>
</template>
