<template>
    <g>
        <path d="M7.48675 2.69779C7.48675 3.2797 7.01447 3.75197 6.43257 3.75197C5.85066 3.75197 5.37839 3.2797 5.37839 2.69779C5.37839 2.11589 5.85066 1.64362 6.43257 1.64362C7.01447 1.64362 7.48675 2.11589 7.48675 2.69779Z" fill="#F9F9F9"/>
        <path d="M8.8867 0.600708C8.19234 0.603519 7.52751 0.663959 6.94279 0.76516C5.22167 1.06736 4.90823 1.69565 4.90823 2.85735V4.39224H8.97665V4.90316H3.38178C2.19829 4.90316 1.16379 5.60595 0.839801 6.94265C0.466622 8.47472 0.446944 9.43261 0.839801 11.03C1.12794 12.2213 1.81738 13.0695 3.00016 13.0695H4.19701V11.0329C4.19701 9.7067 5.36082 8.54289 6.74179 8.54289H11.0007C12.1315 8.54289 13.2025 7.62013 13.2025 6.49778V2.86579C13.2025 1.77577 12.1069 0.954912 11.0007 0.773593C10.3035 0.658337 9.57894 0.60633 8.88529 0.609141L8.8867 0.600708ZM6.68628 1.83339C7.10654 1.83339 7.4495 2.17916 7.4495 2.60505C7.4495 3.02813 7.10654 3.36828 6.68628 3.36828C6.2632 3.36828 5.92024 3.02813 5.92024 2.60505C5.92024 2.17987 6.26039 1.83339 6.68628 1.83339Z" fill="#4586B9"/>
        <path d="M12.4091 15.3479C12.4091 15.9298 11.9368 16.4021 11.3549 16.4021C10.7702 16.4021 10.2979 15.9298 10.2979 15.3479C10.2979 14.766 10.7702 14.2938 11.3549 14.2938C11.9368 14.2938 12.4091 14.766 12.4091 15.3479Z" fill="#F9F9F9"/>
        <path d="M13.7816 4.90179V6.68898C13.7816 8.07276 12.5932 9.07494 11.2397 9.07494H6.77556C5.66375 9.07494 4.741 10.1839 4.741 11.2852V15.1175C4.741 16.2075 5.69889 16.847 6.77556 17.1598C8.06306 17.533 9.46582 17.6046 11.0063 17.1598C12.0303 16.866 13.0409 16.2757 13.0409 15.1175V13.5826H8.97809V13.0717H15.0783C16.2589 13.0717 16.701 12.2536 17.1128 11.0322C17.538 9.7721 17.5162 8.55839 17.1128 6.94479C16.8191 5.77817 16.2618 4.90531 15.0783 4.90531L13.7816 4.90179ZM11.265 14.6073C11.6852 14.6073 12.0282 14.9474 12.0282 15.3705C12.0282 15.7936 11.688 16.1421 11.265 16.1421C10.8419 16.1421 10.4989 15.7936 10.4989 15.3705C10.4989 14.9474 10.8419 14.6073 11.265 14.6073Z" fill="#FFE634"/>
    </g>
</template>
