<template>
  <g>
    <path d="M3.06676 1.84961H5.36943V8.30325C5.36943 11.2119 3.97575 12.227 1.74874 12.227C1.20339 12.227 0.506537 12.1361 0.052002 11.9846L0.309553 10.1213C0.627697 10.2273 1.03673 10.303 1.49119 10.303C2.46074 10.303 3.06676 9.86368 3.06676 8.28816V1.84961Z" fill="#2196F3"/>
    <path d="M7.36871 9.697C7.97468 10.0151 8.94426 10.3333 9.92896 10.3333C10.9894 10.3333 11.55 9.89398 11.55 9.21225C11.55 8.59114 11.0652 8.21243 9.83807 7.78821C8.14131 7.18222 7.0203 6.24296 7.0203 4.74321C7.0203 3.00101 8.48978 1.68298 10.8834 1.68298C12.0499 1.68298 12.8831 1.91029 13.4891 2.19809L12.974 4.0463C12.5801 3.8494 11.8377 3.56153 10.8531 3.56153C9.85325 3.56153 9.36844 4.03116 9.36844 4.54626C9.36844 5.19769 9.92896 5.48549 11.2622 6.00062C13.0649 6.6672 13.8981 7.60646 13.8981 9.06079C13.8981 10.7727 12.5952 12.227 9.79262 12.227C8.62609 12.227 7.47469 11.9089 6.89911 11.5907L7.36871 9.697Z" fill="#2196F3"/>
  </g>
</template>