<template>
    <g>
        <path d="M1 0L2.275 14.4L8 16L13.723 14.401L15 0H1Z" fill="#2196F3"/>
<path d="M12.274 4.70903L12.113 6.51803L11.627 11.941L7.99999 12.944L7.99699 12.945L4.37199 11.941L4.11899 9.10503H5.89499L6.02699 10.576L7.99799 11.108L7.99899 11.107L9.97299 10.575L10.242 8.12403L4.03399 8.14103L3.85799 6.46503L10.391 6.38803L10.523 4.59403L3.68299 4.61303L3.56799 2.94403H7.99999H12.432L12.274 4.70903Z" fill="#FAFAFA"/>
    </g>
</template>
