<template>
    <g>
        <path d="M1 0L2.275 14.4L8 16L13.723 14.401L15 0H1Z" fill="#FF5722"/>
<path d="M12.235 4.70897H8H5.525L5.685 6.51797H8H12.075L11.594 11.942L8 12.945L7.997 12.946L4.405 11.942L4.154 9.10497H5.914L6.045 10.577L7.998 11.108L8 11.107L9.95501 10.576L10.159 8.28497H8H4.082L3.608 2.94397H8H12.391L12.235 4.70897Z" fill="#FAFAFA"/>
    </g>
</template>
