<template>
    <g>
        <path d="M10.3727 1.76631L11.2205 0.207329C11.2576 0.139236 11.2324 0.0541026 11.1643 0.0170771C11.0962 -0.0199484 11.0111 0.0052264 10.974 0.07332L10.1234 1.63723C9.45126 1.31271 8.69736 1.13066 7.90092 1.13066C7.10449 1.13066 6.35066 1.31271 5.67843 1.63723L4.82787 0.07332C4.79085 0.0052264 4.70571 -0.0199484 4.63762 0.0170771C4.56953 0.0541026 4.54435 0.139236 4.58138 0.207329L5.42925 1.76631C3.98628 2.56351 2.96904 4.03684 2.80518 5.75911H12.9966C12.8329 4.03684 11.8156 2.56351 10.3727 1.76631Z" fill="#6BCA3E"/>
        <path d="M2.78174 13.805C2.78174 14.448 3.30298 14.9693 3.94599 14.9693H4.79213V17.4938C4.79213 18.1393 5.31542 18.6626 5.96094 18.6626C6.60645 18.6626 7.12974 18.1393 7.12974 17.4938V14.9693H8.67251V17.4938C8.67251 18.1393 9.1958 18.6626 9.84131 18.6626C10.4868 18.6626 11.0101 18.1393 11.0101 17.4938V14.9693H11.8563C12.4992 14.9693 13.0204 14.4481 13.0204 13.805V6.32031H2.78174V13.805Z" fill="#6BCA3E"/>
        <path d="M14.6332 6.08643C13.9876 6.08643 13.4644 6.60972 13.4644 7.25523V11.9771C13.4644 12.6226 13.9876 13.1459 14.6332 13.1459C15.2787 13.1459 15.802 12.6226 15.802 11.9771V7.25523C15.802 6.60972 15.2787 6.08643 14.6332 6.08643Z" fill="#6BCA3E"/>
        <path d="M1.1688 6.08643C0.52329 6.08643 0 6.60972 0 7.25523V11.9771C0 12.6226 0.52329 13.1459 1.1688 13.1459C1.81431 13.1459 2.3376 12.6226 2.3376 11.9771V7.25523C2.3376 6.60972 1.81431 6.08643 1.1688 6.08643Z" fill="#6BCA3E"/>
        <path d="M5.51504 3.98248C5.77327 3.98248 5.9826 3.77315 5.9826 3.51492C5.9826 3.2567 5.77327 3.04736 5.51504 3.04736C5.25682 3.04736 5.04749 3.2567 5.04749 3.51492C5.04749 3.77315 5.25682 3.98248 5.51504 3.98248Z" fill="white"/>
        <path d="M10.2865 3.98248C10.5448 3.98248 10.7541 3.77315 10.7541 3.51492C10.7541 3.2567 10.5448 3.04736 10.2865 3.04736C10.0283 3.04736 9.81897 3.2567 9.81897 3.51492C9.81897 3.77315 10.0283 3.98248 10.2865 3.98248Z" fill="white"/>
    </g>
</template>
