<template>
    <g>
        <path d="M17.3986 2.93652H13.6995L12.6455 8.63988C12.8735 9.47499 13.2063 10.2666 13.6298 11H13.973L14.3813 8.79117H16.4139C18.8888 8.79117 19.5541 6.5692 19.7136 5.47786C19.8735 4.38694 19.0753 2.93652 17.3986 2.93652ZM17.9352 5.66191C17.8446 6.28056 17.3875 7.54033 15.9846 7.54033H14.6125L15.2258 4.2209H16.6225C17.984 4.2209 18.0258 5.0433 17.9352 5.66191Z" fill="#2196F3"/>
        <path d="M6.31133 3.19563C5.99691 3.03328 5.62218 2.93652 5.18926 2.93652H1.4902L0 11.0001H1.76363L2.17194 8.79121H4.20452C5.30528 8.79121 6.04811 8.35174 6.54701 7.76754C6.65039 7.18989 6.7045 6.59502 6.7045 5.98747C6.7045 5.01874 6.56718 4.08197 6.31133 3.19563ZM5.72591 5.66195C5.63532 6.2806 5.1782 7.54037 3.7749 7.54037H2.40319L3.0165 4.22094H4.41325C5.77472 4.22094 5.81651 5.04334 5.72591 5.66195Z" fill="#2196F3"/>
        <path d="M11.1766 2.96319C10.4588 2.96319 9.50109 2.96319 9.03448 2.96319L9.43655 0.787598H7.68018L6.18994 8.85091H7.94631L8.80331 4.21395C9.11993 4.21395 9.54052 4.21395 9.92581 4.21395C10.6709 4.21395 11.1766 4.37363 11.0701 5.06553C10.9636 5.75743 10.3516 8.81776 10.3516 8.81776H12.1345C12.1345 8.81776 12.8264 5.4115 12.9329 4.45343C13.0394 3.49541 12.1612 2.96319 11.1766 2.96319Z" fill="#2196F3"/>
    </g>
</template>
