<template>
    <g>
        <g clip-path="url(#clip0)">
        <path d="M1.14286 0C0.512714 0 0 0.512714 0 1.14286C0 1.773 0.512714 2.28571 1.14286 2.28571C1.773 2.28571 2.28571 1.773 2.28571 1.14286C2.28571 0.512714 1.773 0 1.14286 0Z" fill="#313335"/>
        <path d="M3.99997 0C3.36983 0 2.85712 0.512714 2.85712 1.14286C2.85712 1.773 3.36983 2.28571 3.99997 2.28571C4.63012 2.28571 5.14283 1.773 5.14283 1.14286C5.14283 0.512714 4.63012 0 3.99997 0Z" fill="#313335"/>
        <path d="M6.85715 0C6.22701 0 5.71429 0.512714 5.71429 1.14286C5.71429 1.773 6.22701 2.28571 6.85715 2.28571C7.48729 2.28571 8.00001 1.773 8.00001 1.14286C8.00001 0.512714 7.48729 0 6.85715 0Z" fill="#313335"/>
        <path d="M1.14286 2.85718C0.512714 2.85718 0 3.36989 0 4.00003C0 4.63018 0.512714 5.14289 1.14286 5.14289C1.773 5.14289 2.28571 4.63018 2.28571 4.00003C2.28571 3.36989 1.773 2.85718 1.14286 2.85718Z" fill="#313335"/>
        <path d="M3.99997 2.85718C3.36983 2.85718 2.85712 3.36989 2.85712 4.00003C2.85712 4.63018 3.36983 5.14289 3.99997 5.14289C4.63012 5.14289 5.14283 4.63018 5.14283 4.00003C5.14283 3.36989 4.63012 2.85718 3.99997 2.85718Z" fill="#313335"/>
        <path d="M6.85715 2.85718C6.22701 2.85718 5.71429 3.36989 5.71429 4.00003C5.71429 4.63018 6.22701 5.14289 6.85715 5.14289C7.48729 5.14289 8.00001 4.63018 8.00001 4.00003C8.00001 3.36989 7.48729 2.85718 6.85715 2.85718Z" fill="#313335"/>
        <path d="M1.14286 5.71429C0.512714 5.71429 0 6.22701 0 6.85715C0 7.48729 0.512714 8.00001 1.14286 8.00001C1.773 8.00001 2.28571 7.48729 2.28571 6.85715C2.28571 6.22701 1.773 5.71429 1.14286 5.71429Z" fill="#313335"/>
        <path d="M3.99997 5.71429C3.36983 5.71429 2.85712 6.22701 2.85712 6.85715C2.85712 7.48729 3.36983 8.00001 3.99997 8.00001C4.63012 8.00001 5.14283 7.48729 5.14283 6.85715C5.14283 6.22701 4.63012 5.71429 3.99997 5.71429Z" fill="#313335"/>
        <path d="M6.85715 8.00001C7.48729 8.00001 8.00001 7.48729 8.00001 6.85715C8.00001 6.22701 7.48729 5.71429 6.85715 5.71429C6.22701 5.71429 5.71429 6.22701 5.71429 6.85715C5.71429 7.48729 6.22701 8.00001 6.85715 8.00001Z" fill="#313335"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="8" height="8" fill="white" transform="matrix(1 0 0 -1 0 8)"/>
        </clipPath>
        </defs>
    </g>
</template>
