<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
@import './assets/sass/reset'

@font-face
  font-family: Gilroy-Bold
  src: url('./assets/fonts/gilroy-bold.otf')
@font-face
  font-family: Roboto-Regular
  src: url('./assets/fonts/Roboto-Regular.ttf')

</style>
