$textColor: #6E7680
$titleColor: #313335
$green: #6BCA3E
$violet: #902156
$border: 1px solid #F0F4F7
$borderBtn: 2px solid #E2EAF0
$btnBorderRadius: 22px
$gilroyMd: Gilroy-Bold
$robotoReg: Roboto-Regular

=r($width)
  @media only screen and (max-width: $width + "px")
    @content
=m
  @media only screen and (max-width: 900px)
    @content
=xs
    @media only screen and (max-width: 480px)
        @content

=h1
    color: $titleColor
    font-size: 48px
    font-family: $gilroyMd
    +xs
        font-size: 38px
=h2
    font-family: $gilroyMd
    color: $titleColor
    font-size: 18px
=p
    color: $textColor
    font-family: $robotoReg